@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');
:root {
  
    --heading-font: "Roboto Slab", Garamond, serif;
    --paragraph-font: Roboto, Helvetica, sans-serif;
  
    --headline-color-on-white: #467F5F;  /* headlines on a white background */ 
    --headline-color-on-color: #242D2B; /* headlines on a colored background */ 
    --paragraph-color-on-white: #242D2B; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #242D2B; /* paragraph text on a colored background */ 
    --paragraph-background-color: #E0F5EA  ;
    --nav-link-color: #242D2B;
    --nav-background-color: #67D193;
    --nav-hover-link-color: #467F5F;
    --nav-hover-background-color: #E0F5EA;
  }
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f0f9f7;
}
.logo1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.logo2 {
    grid-column: 2/3;
    grid-row: 2/3;
}
header nav {
    grid-column: 1/2;
    grid-row: 2/3;
}

